// default
$font-famliy: "lg", "Malgun Gothic";
$font-weight: 400;
$font-size: 16px;
$font-color: #000;
$line-height: 1;

// color
$c-black: #000;
$c-white: #fff;

$c-primary-red: #ea1917;
$c-primary-gray: #f0ece4;

$c-light-gray1: #f6f3eb;
$c-light-gray2: #f0ece4;
$c-light-gray3: #e6e1d6;

$c-mid-gray1: #cdc8c2;
$c-mid-gray2: #646464;
$c-mid-gray3: #4a4946;

$c-dark-gray1: #333333;
$c-dark-gray2: #262626;
$c-dark-gray3: #1a1a1a;

$c-red: #a50034;
$c-yellow-review: #f7b500;
$c-yellow-toast: #dead25;
$c-green: #287d00;
$c-green-tree: #316d15;
$c-blue: #076369;
