.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid transparent;
  border-color: $c-mid-gray3;
  border-radius: 36px;
  background-color: $c-white;
  padding: 10px 16px;
  text-align: center;
  font-size: 14px;
  color: $c-black;
  &:disabled {
    border-color: $c-mid-gray1;
    background-color: $c-light-gray1;
    color: $c-mid-gray1;
  }
}
.type-primary {
  border-color: $c-primary-red;
  background-color: $c-primary-red;
  color: $c-white;
}
.btn-md {
  border-radius: 44px;
  padding: 13px 20px;
  font-size: 16px;
}
.btn-lg {
  border-radius: 64px;
  padding: 19px 28px;
  font-size: 24px;
}
