.title-h1 {
  font-size: 80px;
  font-weight: 600;
}
.title-h2 {
  font-size: 56px;
  font-weight: 600;
}
.title-h3 {
  font-size: 48px;
  font-weight: 600;
}
// sub title
.sub-h1 {
  font-size: 36px;
  font-weight: 400;
}
.sub-h2 {
  font-size: 32px;
  font-weight: 400;
}
.sub-h3 {
  font-size: 16px;
  font-weight: 400;
}
// body
.body-h1 {
  font-size: 20px;
  font-weight: 400;
}
.body-h2 {
  font-size: 18px;
  font-weight: 400;
}
.body-h3 {
  font-size: 16px;
  font-weight: 400;
}

// required
.required {
  &:after {
    content: "*";
    margin-left: 5px;
    line-height: 0;
    color: $c-primary-red;
  }
}

//************************************
//# font size
//************************************
.c-primary-red {
  color: $c-primary-red;
}
.c-mid-gray1 {
  color: $c-mid-gray1;
}
