.l-wrapper {
  padding: 24px;
}
.l-layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  height: calc(100vh - 138px);
  & + .btn-wrap {
    margin-top: 20px;
  }
}
.l-column {
  position: relative;
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
//************************************
//# content-group
//************************************
.l-section {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
  .section-header {
    background-color: $c-white;
    padding: 21px 14px;
    font-size: 20px;
    span {
      font-size: inherit;
    }
  }
  .section-body {
    flex: 1;
    background-color: $c-light-gray1;
    padding: 18px;
  }
}
//************************************
//# content-group
//************************************
.content-group {
  // display: flex;
  // flex-direction: column;
  .group-title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .group-contents {
    flex: 1;
    background-color: $c-white;
    border-radius: 7px;
    padding: 14px;
  }
}

//************************************
//# flex
//************************************
.row {
}
.col {
  display: flex;
}
//************************************
//# btn-wrap
//************************************
.btn-wrap {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  &.align-right {
    justify-content: flex-end;
  }
  &.align-full {
    .btn {
      flex: 1;
      justify-content: center;
    }
  }
}
