.l-email {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $c-white;
  border-radius: 7px;
  padding: 14px;
}
.email-view {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.email-header {
  .email-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    color: $c-mid-gray2;
    .info-sender {
      flex: 1;
      font-size: inherit;
      color: inherit;
    }
    .info-date {
      font-size: inherit;
      color: inherit;
    }
  }
  .email-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    @include ellipsis(2);
  }
}
.email-contents {
  flex: 1;
  background-color: $c-light-gray1;
  border-radius: 7px;
  padding: 14px;
}
//************************************
//# textarea
//************************************
.textarea-view {
  flex: 1;
  border-radius: 10px;
  border: 1px solid $c-mid-gray1;
  overflow: hidden;
  .textarea-header {
    background-color: #d9d9d9;
    padding: 11px 0;
    text-align: center;
  }
  .textarea {
    width: 100%;
    height: 100%;
    padding: 12px;
    color: $c-mid-gray2;
  }
}
//************************************
//# btn-wrap
//************************************
.btn-wrap {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  &.align-right {
    justify-content: flex-end;
  }
  &.align-full {
    .btn {
      flex: 1;
    }
  }
}
//************************************
//# qna
//************************************
.qna-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
}
.qna-header {
  background-color: $c-white;
  padding: 21px 14px;
  font-size: 20px;
}
.qna-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $c-light-gray1;
  padding: 18px;
  .type-table {
    flex: 1 1 auto;
    height: 230px;
  }
  .type-solution {
    flex: 1 1 auto;
    height: 380px;
  }
}
//************************************
//# recommend
//************************************
.recommend-view {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
}
.recommend-header {
  background-color: $c-white;
  padding: 21px 14px;
  font-size: 20px;
}
.recommend-body {
  flex: 1;
  display: flex;
  background-color: $c-light-gray1;
  padding: 18px;
  .body-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $c-white;
    border-radius: 7px;
    padding: 14px;
  }
  .result {
    flex: 1;
  }
}
