.l-email {
  gap: 12px;
  background-color: $c-white;
  padding: 14px;
}
.email-view {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.email-header {
  .email-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    color: $c-mid-gray2;
    .info-sender {
      flex: 1;
      font-size: inherit;
      color: inherit;
    }
    .info-date {
      font-size: inherit;
      color: inherit;
    }
  }
  .email-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    @include ellipsis(2);
  }
}
.email-contents {
  flex: 1;
  background-color: $c-light-gray1;
  border-radius: 7px;
  padding: 14px;
}
//************************************
//# btn-wrap
//************************************
.btn-wrap {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  &.align-right {
    justify-content: flex-end;
  }
  &.align-full {
    .btn {
      flex: 1;
    }
  }
}
//************************************
//# qna
//************************************
.qna-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
  .type-solution {
    .group-contents {
      max-height: calc(100vh - 585px);
    }
  }
}
//************************************
//# recommend
//************************************
.recommend-view {
  overflow: hidden;
}
//************************************
//# Chat
//************************************
.chat-view {
  z-index: 10;
  bottom: 0;
  width: 100%;
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .btn-toggle {
      width: 40px;
      height: 40px;
    }
  }
  .section-body {
    height: calc(100% - 62px);
  }
  .chat-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 7px;
  }
  .chat-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .chat-text {
      border-radius: 7px;
      padding: 14px;
      color: $c-mid-gray2;
    }
    &.type-receive {
      .chat-text {
        align-self: flex-start;
        background-color: $c-white;
      }
      .chat-info {
        justify-content: flex-start;
      }
    }
    &.type-send {
      .chat-text {
        align-self: flex-end;
        background-color: $c-light-gray3;
        text-align: right;
      }
      .chat-info {
        justify-content: flex-end;
      }
    }
    .chat-info {
      display: flex;
      gap: 4px;
      .date {
        color: $c-mid-gray1;
      }
    }
  }
  .chat-ipt {
    margin-top: 12px;
  }
  // open
  &.is-open {
    position: absolute;
    top: 0;
  }
}
