//************************************
//# recommend
//************************************
.recommend-view {
  overflow: hidden;
  .section-body {
    display: flex;
    flex-direction: column;
  }
}
