.l-email {
  gap: 20px;
  background-color: $c-white;
  padding: 14px;
}
.email-view {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.email-header {
  .email-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    color: $c-mid-gray2;
    .info-sender {
      flex: 1;
      font-size: inherit;
      color: inherit;
    }
    .info-date {
      font-size: inherit;
      color: inherit;
    }
  }
  .email-title {
    font-size: 24px;
    line-height: 28px;
    @include ellipsis(2);
  }
}
.email-contents {
  flex: 1;
  background-color: $c-light-gray1;
  border-radius: 7px;
  padding: 14px;
}
